/target
/files.sqlite3
/files.sqlite3-shm
/files.sqlite3-wal
files.sqlite3-wal
cargo.lock
.fastembed_cache
/src-tauri/src/neural_network/deu_wikipedia_2021_1M/
/src-tauri/src/neural_network/deu_wikipedia_2021_10K/
/src-tauri/src/neural_network/deu_wikipedia_2021_100K/
/src-tauri/src/neural_network/eng-simple_wikipedia_2021_10K/
/data
/src-tauri/icons
