/* Context Menu styles -------------------------------------------------------------------*/

/* haupt Context Menu */
#context-menu {
  display: none;
  position: absolute;
  background: #1f1f1f;
  border: 1px solid #ccc;
  z-index: 1000; /* Ensure it appears above other elements */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 150px;
  font-family: Arial, sans-serif
}

/* zum Context Actions schön untereinander anzeigen */
#context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* für einzelne Context Action schön anzeigen */
#context-menu li {
  padding: 3px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* Icon Style */
#context-menu li .icon {
  display: inline-block; /* Sorgen dafür, dass Emojis konsistente Breite haben */
  width: 1.4em; /* Einheitliche Breite für die Icon-Box */
  text-align: center; /* Zentriert das Icon innerhalb der Box */
  margin-right: 8px; /* Abstand zwischen Icon und Text */
}
/* Hervorhebung beim Hovern */
#context-menu li:hover {
  background: #2f2f2f;
}
/* Trennlinie zwischen Listenelementen */
#context-menu li:not(:last-child) {
  border-bottom: 1px solid #3f3f3f;
}
/* Abrundung der oberen Ecken */
#context-menu ul li:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
/* Abrundung der unteren Ecken */
#context-menu ul li:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* Design des Rename Feldes (& Einstellungen) */
.modal-content {
  background-color: #383838;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}
/* versteckt Rename-Feld (& Einstellungen) */
.modal.hidden {
  display: none;
}
/* Button zum schließen (& Einstellungen) */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}


/*Einstellungen -------------------------------------------------*/

/* Button wird beim Hovern hervorgehoben */
.settings-button:hover {
  color: #ffffff;
}

/*#settings-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#settings-form label {
  display: flex;
  align-items: center;
}*/

#settings-form input[type="checkbox"] {
  float: left;
}

#settings-form label {
  float: left;
  margin-left: 10px;
}

.search-container {
  position: relative;
  display: flex; /* Flexbox zur Ausrichtung von Suchfeld und Buttons */
  align-items: center; /* Vertikale Zentrierung der Inhalte */
}
#setting-filetype {
  width: auto;
  outline: none;
  border: none;
}

/* Modal-Stil */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparenter schwarzer Hintergrund */
  z-index: 9999;
}

.modal.hidden {
  display: none; /* Verstecke das Modal */
}

.modal-content {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 300px;
  width: 80%;
}
/* Schließ-Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* Schließ-Button wird rot beim Hovern */
.close-button:hover {
  color: red;
}
