/*Standardaussehen*/
:root {
    /* Farbvariablen */
    --tr-even: #1f1f1f;
    --th: #0f0f0f;
    --t-border: #ccc;
    --bg: #2f2f2f;
    --font: #f6f6f6;
    --input-border: #ccc;
    --button-hover: #ffffff;
    --modal-hover: #2f2f2f;
    --modal-bg: #1f1f1f;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--font);
    background-color: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*alles bleibt an seinem Platz*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
/*da ist alles drin*/
.container {
    margin: 0;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    max-height: 100%;
    align-items: stretch;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0; /* Abstand zwischen den Spalten */
}
/*Pfad und Suchbox*/
.row2 {
    display: flex;
    justify-content: center;
    gap: -1px; /* Abstand zwischen den Spalten Suche und Pfad */
    align-items: stretch;
    width: 90%;
}

/*schiebt Dinge weg, die nicht angezeigt werden sollen*/
.table-container {
    width: 100%;
    height: 90vh; /* Adjust for the margin-top */
    overflow: auto;
}

.hidden {
    display: none;
}

.error {
    height: 10vh;
}

#fileTable {
    width: 100%;
    margin-top: 20px;
    flex-flow: row nowrap;
    border-collapse: collapse;
}

#fileTable td {
    padding: 8px 12px;
    border-right: 1px solid var(--t-border);
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 0;
}

#fileTable th {
    position: sticky;
    top: 0;
    padding: 8px 12px;
    word-break: break-word;
    overflow-wrap: break-word;
    background-color: var(--th);
}

#fileTable th:last-child, #fileTable td:last-child {
    border-right: none;
    text-align: left;
}

#fileTable thead th {
    border-bottom: 2px solid var(--t-border);
}

#fileTable tbody tr:nth-child(even) {
    background-color: var(--tr-even);
}

/* style when displaying search results */
#fileTable.search td:nth-child(1) {
    width: 15%;
}
#fileTable.search td:nth-child(2) {
    width: auto;
}
#fileTable.search td:nth-child(3) {
    width: 20%;
}
#fileTable.search td:nth-child(4) {
    width: 10%;
}
#fileTable.search td:nth-child(5) {
    width: 15%;
}

/* style when normaly displaying files*/
#fileTable td:nth-child(1) {
    width: auto;
}
#fileTable td:nth-child(2) {
    width: 27%;
    max-width: 80px; /* doesn't work for some reason */
}
#fileTable td:nth-child(3) {
    width: 20%;
}
#fileTable td:nth-child(4) {
    width: 20%;
}

/* Error Style */
td.error {
    text-align: center;
    vertical-align: middle;
    color: red;
    font-weight: bold;
    height: 50%;
}

.hidden {
    display: none;
}

#error-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #ff001b;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
}

/*Eingabefelder werden aufgeteilt*/
.search-container,
.file-path-container {
    position: relative;
    display: flex; /* inline-block*/
    align-items: center;
    width: 100%; /* Optional: Breite des Suchbereichs */
    max-width: 400px; /* Optional: maximale Breite der Suchbox */
}

/*Layout Inputfelder(Pfad,Suche)*/
.search-input,
.file-path-input {
    width: 100%;
    padding: 10px 40px 10px 12px; /* Abstand für das Lupensymbol berücksichtigen */
    border: 1px solid var(--input-border); /* Leichter Rand */
    border-radius: 20px; /* Runde Ecken */
    font-size: 16px;
    box-sizing: border-box; /* Verhindert Layout-Verschiebungen */
    outline: none;
    float: left;
}
/*macht rechten Rand von Pfad gerade*/
.file-path-input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*macht linken Rand von Suche gerade*/
.search-input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
/*Style für Buttons ganz oben*/
.top-row-button {
    position: absolute;
    right: 10px; /* Abstand vom rechten Rand */
    background-color: transparent; /* Transparenter Hintergrund */
    border: none; /* Keine Randlinien */
    cursor: pointer;
    font-size: 18px; /* Größe des Icons */
    padding: 7px; /* Leichter Innenabstand */
    color: var(--font); /* Farbe des Icons */
    float: left;
}
/*Hover Farbe für Buttons ganz oben*/
.top-row-button:hover {
    color: var(--button-hover);
}
/*trennt Such- und Einstellungsbutton (Suchbutton wird nach rechts verschoben*/
#search-button {
    right: 45px;
}
/*macht Pfadfeld 60% groß*/
.file-path-container{
    flex: 2; /* Beide Elemente nehmen denselben Platz ein */
    max-width: 60%;
    margin-right: 0;
}
/*macht Suchfeld 40% groß*/
.search-container {
    margin-right: 0;
    margin-left: auto;
    flex: 1; /* Beide Elemente nehmen denselben Platz ein */
    max-width: 40%;
}
::placeholder {
    color: var(--font);
    opacity: 55%;
}
/*macht Hintergrund von Such- und Pfadfeld schwarz*/
input,
button {
    color: var(--font);
    background-color: #0f0f0f98;
}
@media (max-width: 450px) {
    .file-path-container,
    .search-container {
        max-width: 100%; /* Volle Breite für Mobile */
        margin-right: 0; /* Kein Seitenabstand */
        margin-bottom: 0; /* Abstand zwischen den Containern für Mobile */
    }

    .file-path-input{
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .search-input{
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-left: 1px solid var(--input-border);
        border-top: none;
    }

    .row2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0; /* Abstand zwischen den Spalten */
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .modal-content {
        top: 95px;
    }
}
/* Container für Navigationsbuttons*/
#nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* Navigation Buttons (forward and backwards) */
.nav-button {
    justify-content: center;
    align-items: center;
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    background-color: #0f0f0f98; /* Darker background color */
    border: 1px solid var(--input-border); /* Small border */
    border-radius: 40%; /* Make it a circle */
    margin: 4px 1px; /* Center the button */
    vertical-align: middle;
    cursor: pointer;
}
.nav-button:hover {
    color: var(--button-hover);
}

.modal.hidden {
    display: none; /* Verstecke das Modal */
}

#forward-button {
    margin-right: 13px;
}

/* Context Menu styles -------------------------------------------------------------------*/

/* haupt Context Menu */
#context-menu {
  display: none;
  position: absolute;
  background: var(--modal-bg);
  border: 1px solid var(--t-border);
  z-index: 1000; /* Ensure it appears above other elements */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 150px;
  font-family: Arial, sans-serif
}

/* zum Context Actions schön untereinander anzeigen */
#context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* für einzelne Context Action schön anzeigen */
#context-menu li {
  padding: 3px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* Icon Style */
#context-menu li .icon {
  display: inline-block; /* Sorgen dafür, dass Emojis konsistente Breite haben */
  width: 1.4em; /* Einheitliche Breite für die Icon-Box */
  text-align: center; /* Zentriert das Icon innerhalb der Box */
  margin-right: 8px; /* Abstand zwischen Icon und Text */
}
/* Hervorhebung beim Hovern */
#context-menu li:hover {
  background: var(--modal-hover);
}
/* Trennlinie zwischen Listenelementen */
#context-menu li:not(:last-child) {
  border-bottom: 1px solid var(--bg);
}
/* Abrundung der oberen Ecken */
#context-menu ul li:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
/* Abrundung der unteren Ecken */
#context-menu ul li:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* Design des Rename Feldes (& Einstellungen) */
.modal-content {
  background-color: var(--modal-bg);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}
/* versteckt Rename-Feld (& Einstellungen) */
.modal.hidden {
  display: none;
}
/* Button zum schließen (& Einstellungen) */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}


/*Einstellungen -------------------------------------------------*/
#settings-form input[type="checkbox"] {
  float: left;
}

#settings-form label {
  float: left;
  margin-left: 10px;
}

#settings-form {
  width: 100%;
}

.search-container {
  position: relative;
  display: flex; /* Flexbox zur Ausrichtung von Suchfeld und Buttons */
  align-items: center; /* Vertikale Zentrierung der Inhalte */
}
#setting-filetype {
  width: 100%;
  outline: none;
  border: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--font);
  background-color: var(--bg);
  font-synthesis: none;
}

/* Modal standardmäßig verstecken */
.modal-content.hidden {
  display: none;
}

.modal-content {
  background-color: var(--modal-bg);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 330px;
  width: 80%;
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 2;
}

/* Schließ-Button */
.close-button {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: red;
}

/* Schließ-Button wird rot beim Hovern */
.close-button:hover {
  color: red;
}

/* Rename Modal */

/* Hintergrund */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Transparenter schwarzer Hintergrund*/
    z-index: 1;
}

.rename-modal-content.hidden {
    display: none;
}
/* rename Feld*/
.rename-modal-content {
    position: absolute;
    background-color: var(--modal-bg);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 330px;
    width: 80%;
    z-index: 2;
}

/* Icons */
.icon {
    width: 20px;
    display: flex;
}

.icon-big {
    width: 30px;
    display: flex;
}

#clear-img:hover {
    content: url("assets/trash_hover.svg");
}

:root[data-theme="light"] {
    --text: #14042a;
    --background: #f7f1fe;
    --primary: #400c88;
    --secondary: #f36dae;
    --accent: #bc102d;
}
:root[data-theme="dark"] {
    --text: #e4d3fb;
    --background: #080110;
    --primary: #aa76f3;
    --secondary: #910c4d;
    --accent: #ef425f;
}

/* Spinner Styling */
.spinner {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.spinner-inner {
    width: 40px;
    height: 40px;
    border: 4px solid var(--font);
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
